---
import Layout from "@/layouts/Layout.astro";
import { fetchConfigData } from "@/utils/fetchdata.js";
import { parseFecha } from "@/utils/parseFecha.js";

// export const prerender = false;

// termino y condiciones
// https://www.x5argentina.com/rally-spring/

// Obtener datos en el servidor antes de renderizar la p谩gina
const configData = await fetchConfigData();
console.log("configData: ", configData);

const PrimerPremio = configData["1 Premio"] || "Auto 0km";
// const SegundoPremio = configData["2 Premio"] || "Otra cosa";
const fechaSorteo = parseFecha(configData["Proxima Fecha"]); // 23/03/2025
const fechaFormateada = new Intl.DateTimeFormat("es-AR", {
  dateStyle: "full",
  timeZone: "America/Argentina/Buenos_Aires",
}).format(fechaSorteo);

const logos = [
  { src: "/images/rsl.png", title: "Rally Sprint Latan" },
  { src: "/images/actc.png", title: "Asociaci贸n Corredores Turismo Carretera" },
  { src: "/images/planx5.png", title: "Plan X5 Argentina" },
];

const urlImagen = "/images/RS-POSTER-CARRERA-DIBUJOS-REMERA-1.webp";
const imagenPrimerPremio = "/images/SORTEO.webp";
const imgNumSection = "/images/planx5.png";
---

<Layout>
  <style>
    /* Estilos para las im谩genes de fondo */
    .background-image {
      position: absolute;
      z-index: 1;
      opacity: 0.1;
      object-fit: contain;
    }
    .background-image.rally {
      top: 10%;
      left: 5%;
      width: 100%;
    }
    .background-image.auto {
      bottom: 10%;
      right: 5%;
      width: 30%;
    }
    .content {
      position: relative;
      z-index: 30;
    }
    /* Estilo espec铆fico para la secci贸n del n煤mero */
    .numero-section {
      position: relative;
      overflow: hidden;
    }
    .numero-section img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.05;
      z-index: 1;
    }
    /* Estilos para el modal */
    .modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }
    .modal.open {
      display: flex;
    }
    .modal-content {
      background: white;
      padding: 20px;
      border-radius: 10px;
      width: 79%; /* Ancho del 79% en pantallas grandes */
      max-width: 600px; /* M谩ximo ancho en pantallas grandes */
      text-align: center;
      overflow: auto; /* Para contenido que exceda el tama帽o */
    }
    .modal-body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .modal-content img {
      width: 100%;
      height: auto;
      cursor: pointer;
    }
    .modal-content p {
      margin-top: 1rem; /* Espacio entre la imagen y el texto */
    }
    @media (max-width: 768px) {
      .modal-content {
        width: 80%; /* Ancho del 80% en pantallas peque帽as */
        height: auto; /* Altura autom谩tica */
        border-radius: 10px; /* Bordes redondeados */
        max-width: none; /* Eliminar el m谩ximo ancho en m贸viles */
      }
    }
  </style>

  <main
    class="min-h-screen md:min-h-9/12 bg-gray-100 flex items-center justify-center p-4 relative w-full overflow-hidden"
  >
    <!-- Imagen de fondo general -->
    <img src={urlImagen} alt="Autos de Rally" class="background-image rally" />

    <div
      class="max-w-5xl w-full bg-white rounded-lg shadow-lg flex flex-col md:flex-row border-4 border-dashed border-gray-400 relative content overflow-hidden"
    >
      <!-- Imagen de fondo visible solo en mobile -->
      <div
        class="absolute inset-0 object-contain bg-center opacity-[0.075] md:hidden"
        style={`background-image: url(${urlImagen})`}
      >
      </div>

      <!-- Tal贸n lateral para corte -->
      <div
        class="w-full md:w-1/4 bg-gray-200 flex flex-col justify-between p-4 border-r border-dashed border-gray-400 text-center numero-section"
      >
        <!-- Imagen de fondo en la secci贸n del n煤mero -->
        <img
          src={imgNumSection}
          alt="Auto Sorteo"
          class="absolute inset-0 w-full h-full object-cover opacity-5"
        />
        <h2 class="text-xl font-bold text-gray-400 relative">N煤mero</h2>
        <p
          id="numeroCupon"
          class="text-2xl font-extrabold text-gray-800 relative"
        >
        </p>
        <p class="text-sm text-gray-600 relative">Conserva este cup贸n</p>
      </div>

      <!-- Contenido principal del cup贸n -->
      <div class="w-full md:w-3/4 p-6 flex flex-col justify-between relative">
        <h1 class="text-3xl font-bold text-center text-black mb-4">
          Bono Contribuci贸n
        </h1>
        <div class="flex flex-col md:flex-row gap-4">
          <!-- Formulario -->
          <div class="w-full md:w-1/2">
            <form id="sorteoForm" class="space-y-2">
              <input
                type="text"
                id="Nombre"
                name="Nombre"
                required
                placeholder="Nombre"
                class="w-full p-2 border border-gray-300 rounded text-black"
              />
              <input
                type="text"
                id="Apellido"
                name="Apellido"
                required
                placeholder="Apellido"
                class="w-full p-2 border border-gray-300 rounded text-black"
              />
              <input
                type="tel"
                id="Telefono"
                name="Telefono"
                required
                placeholder="Tel茅fono"
                class="w-full p-2 border border-gray-300 rounded text-black"
              />
              <button
                type="submit"
                class="w-full bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700"
                >Participar</button
              >
            </form>
          </div>

          <!-- Informaci贸n de Premios y Logos -->
          <div class="w-full md:w-1/2 text-black">
            <h2 class="text-2xl font-bold mb-2">Premio:</h2>
            <ul class="mb-4">
              <li
                class="p-4 bg-gray-100 text-2xl text-center md:text-3xl rounded-lg shadow-md"
              >
                <!-- Premio: -->
                <span
                  id="primerPremio"
                  class="font-extrabold text-red-700 cursor-pointer hover:text-blue-900 transition-all"
                >
                  {PrimerPremio}
                </span>
              </li>
              <!-- <li class="p-4 bg-gray-100 rounded-lg shadow-sm">
                2潞 Premio: <span class="font-extrabold text-xl text-gray-800"
                  >{SegundoPremio}</span
                >
              </li> -->
            </ul>
            <p class="text-sm mb-4">
              Sorteo el <strong>{fechaFormateada}</strong> en la premiaci贸n de la
              carrera.
            </p>
            <div class="flex flex-wrap justify-center gap-4">
              {
                logos.map((logo) => (
                  <img
                    src={logo.src}
                    alt={logo.title}
                    class="w-16 h-auto"
                    title={logo.title}
                  />
                ))
              }
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal para el primer premio -->
    <div id="modalPremio" class="modal">
      <div class="modal-content">
        <div class="modal-body">
          <img
            src={imagenPrimerPremio}
            alt="Auto Premio"
            id="modalImagen"
            class="w-full h-auto cursor-pointer"
          />
          <p class="text-red-600 text-sm mb-2 mt-4">
             La imagen es meramente ilustrativa 
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const generarNumeroUnico = () => {
      const storedNumero = Number(localStorage.getItem("numeroCupon"));
      if (storedNumero) return storedNumero;
      const nuevoNumero = Date.now() % 1000000;
      localStorage.setItem("numeroCupon", String(nuevoNumero));
      return nuevoNumero;
    };

    document.getElementById("numeroCupon").textContent = generarNumeroUnico();

    document
      .getElementById("sorteoForm")
      .addEventListener("submit", async (event) => {
        event.preventDefault();
        const form = event.target;
        const submitButton = form.querySelector("button[type='submit']");

        // Cambiar el texto del bot贸n y deshabilitarlo
        submitButton.textContent = "Enviando...";
        submitButton.disabled = true;

        const formData = new FormData(form);
        const data = Object.fromEntries(formData.entries());
        data.NumeroCupon = document.getElementById("numeroCupon").textContent;

        if (!data.Nombre || !data.Apellido || !data.Telefono) {
          alert("Por favor, complete todos los campos.");
          submitButton.textContent = "Participar"; // Restaurar texto
          submitButton.disabled = false; // Habilitar bot贸n
          return;
        }

        try {
          const response = await fetch("/api/save.json", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(data),
          });
          if (response.ok) {
            window.location.href = `/enviado?${new URLSearchParams(data).toString()}`;
          } else {
            alert("Error al guardar los datos");
            submitButton.textContent = "Participar"; // Restaurar texto
            submitButton.disabled = false; // Habilitar bot贸n
          }
        } catch (error) {
          console.error(error);
          alert("Error al enviar el formulario");
          submitButton.textContent = "Participar"; // Restaurar texto
          submitButton.disabled = false; // Habilitar bot贸n
        }
      });

    // Abrir Modal Premio
    const abrirModal = () => {
      document.getElementById("modalPremio").classList.add("open");
    };
    document
      .getElementById("primerPremio")
      .addEventListener("click", abrirModal);
    document
      .getElementById("primerPremio")
      .addEventListener("touchstart", abrirModal);

    // Cerrar Modal Premio
    const cerrarModal = () => {
      document.getElementById("modalPremio").classList.remove("open");
    };
    document
      .getElementById("modalPremio")
      .addEventListener("click", cerrarModal);
    document
      .getElementById("modalPremio")
      .addEventListener("touchstart", cerrarModal);
  });
</script>
