---
import Layout from "@/layouts/Layout.astro";
import { fetchConfigData } from "@/utils/fetchdata.js";
import { parseFecha } from "@/utils/parseFecha.js";

// Obtener datos en el servidor antes de renderizar la p치gina
const configData = await fetchConfigData();
/**
 * {
  Concepto: 'Valor',
  'Proxima Fecha': '23/03/2025',
  '1 Premio': 'Auto 0 km',
  '2 Premio': '',
  '3 Premio': '',
  '4 Premio': '',
  '5 Premio': '',
  '1 Importe': '5000000',
  '2 Importe': '',
  '3 Importe': '',
  '4 Importe': '',
  '5 Importe': '',
  LinkPago: 'https://mpago.li/...'
 */

const PrimerPremio = configData["1 Premio"] || "Auto 0km";
// const SegundoPremio = configData["2 Premio"] || "Otra cosa";
const fechaRaw = configData["Proxima Fecha"] ?? "23/03/2025";
const parsedFecha = parseFecha(fechaRaw);
const formattedFecha = parsedFecha
  ? parsedFecha.toLocaleDateString("es-ES", {
      weekday: "long",
      day: "numeric",
      month: "long",
      year: "numeric",
    })
  : "Fecha no v치lida";

const logos = [
  { src: "/images/rsl.png", title: "Rally Sprint Latan" },
  { src: "/images/actc.png", title: "Asociaci칩n Corredores Turismo Carretera" },
  { src: "/images/planx5.png", title: "Plan X5 Argentina" },
];

const urlImagen = "/images/RS-POSTER-CARRERA-DIBUJOS-REMERA-1.webp";
const imagenPrimerPremio = "/images/SORTEO.webp";
const imgNumSection = "/images/planx5.png";
---

<Layout>
  <style>
    /* Estilos para las im치genes de fondo */
    .background-image {
      position: absolute;
      z-index: 1;
      opacity: 0.1;
      object-fit: contain;
    }
    .background-image.rally {
      top: 10%;
      left: 5%;
      width: 100%;
    }
    .background-image.auto {
      bottom: 10%;
      right: 5%;
      width: 30%;
    }
    .content {
      position: relative;
      z-index: 30;
    }
    /* Estilo espec칤fico para la secci칩n del n칰mero */
    .numero-section {
      position: relative;
      overflow: hidden;
    }
    .numero-section img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.05;
      z-index: 1;
    }
    /* Estilos para el modal */
    .modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }
    .modal.open {
      display: flex;
    }
    .modal-content {
      background: white;
      padding: 20px;
      border-radius: 10px;
      width: 79%; /* Ancho del 79% en pantallas grandes */
      max-width: 600px; /* M치ximo ancho en pantallas grandes */
      text-align: center;
      overflow: auto; /* Para contenido que exceda el tama침o */
    }
    .modal-body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .modal-content img {
      width: 100%;
      height: auto;
      cursor: pointer;
    }
    .modal-content p {
      margin-top: 1rem; /* Espacio entre la imagen y el texto */
    }
    @media (max-width: 768px) {
      .modal-content {
        width: 80%; /* Ancho del 80% en pantallas peque침as */
        height: auto; /* Altura autom치tica */
        border-radius: 10px; /* Bordes redondeados */
        max-width: none; /* Eliminar el m치ximo ancho en m칩viles */
      }
    }
    .basesycondiciones {
      z-index: 50;
    }
  </style>

  <main
    class="min-h-screen md:min-h-9/12 bg-gray-100 flex flex-col items-center justify-center p-4 relative w-full overflow-hidden"
  >
    <!-- Imagen de fondo general -->
    <img src={urlImagen} alt="Autos de Rally" class="background-image rally" />

    <div
      class="max-w-5xl w-full bg-white rounded-lg shadow-lg flex flex-col md:flex-row border-4 border-dashed border-gray-400 relative content overflow-hidden"
    >
      <!-- Imagen de fondo visible solo en mobile -->
      <div
        class="absolute inset-0 object-contain bg-center opacity-[0.075] md:hidden"
        style={`background-image: url(${urlImagen})`}
      >
      </div>

      <!-- Tal칩n lateral para corte -->
      <div
        class="w-full hidden md:w-1/4 bg-gray-200 md:flex flex-col justify-between border-r border-dashed border-gray-400 text-center numero-section"
      >
        <!-- Imagen de fondo en la secci칩n del n칰mero -->
        <img
          src={imgNumSection}
          alt="Auto Sorteo"
          class="absolute inset-0 w-full h-full object-cover opacity-5"
        />
        <h2 class="text-xl font-bold pt-4 text-gray-400 relative">N칰mero</h2>
        <div class="text-center">
          <p id="numeroCupon" class="text-5xl font-bold text-black z-40">
            XXXXX
          </p>
        </div>
        <div>
          <p class="text-sm text-gray-600 pb-4 relative">Cup칩n a abonar</p>
        </div>
      </div>

      <!-- Contenido principal del cup칩n -->
      <div class="w-full md:w-3/4 p-6 flex flex-col justify-between relative">
        <h1 class="text-3xl font-bold text-center text-black mb-4">
          Bono Contribuci칩n
        </h1>
        <div class="flex flex-col md:flex-row gap-4">
          <!-- Formulario -->
          <div class="w-full md:w-1/2">
            <form id="introForm" class="space-y-2">
              <input
                type="text"
                id="Nombre"
                name="Nombre"
                required
                placeholder="Nombre"
                class="w-full p-2 border border-gray-300 rounded text-black"
              />
              <input
                type="text"
                id="Apellido"
                name="Apellido"
                required
                placeholder="Apellido"
                class="w-full p-2 border border-gray-300 rounded text-black"
              />
              <input
                type="tel"
                id="Telefono"
                name="Telefono"
                required
                placeholder="Tel칠fono"
                class="w-full p-2 border border-gray-300 rounded text-black"
              />
              <button
                type="submit"
                class="w-full bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700"
                >Participar</button
              >
            </form>
          </div>

          <!-- Informaci칩n de Premios y Logos -->
          <div class="w-full md:w-1/2 text-black">
            <h2 class="text-2xl font-bold mb-2">Premio:</h2>
            <ul class="mb-4">
              <li
                class="p-4 bg-gray-100 text-2xl text-center md:text-3xl rounded-lg shadow-md"
              >
                <!-- Premio: -->
                <span
                  id="primerPremio"
                  class="font-extrabold text-red-700 cursor-pointer hover:text-blue-900 transition-all"
                >
                  {PrimerPremio}
                </span>
              </li>
              <!-- <li class="p-4 bg-gray-100 rounded-lg shadow-sm">
                2췈 Premio: <span class="font-extrabold text-xl text-gray-800"
                  >{SegundoPremio}</span
                >
              </li> -->
            </ul>
            <p class="text-sm mb-4">
              Sorteo el <strong>{formattedFecha}</strong> en la premiaci칩n de la
              carrera.
            </p>
            <div class="flex flex-wrap justify-center gap-4">
              {
                logos.map((logo) => (
                  <img
                    src={logo.src}
                    alt={logo.title}
                    class="w-16 h-auto"
                    title={logo.title}
                  />
                ))
              }
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Enlace a Bases y Condiciones -->
    <a
      href="/bases-y-condiciones"
      class="text-sm mt-3 text-gray-500 hover:text-red-600 basesycondiciones"
    >
      Bases y Condiciones
    </a>

    <!-- Casos a revisar -->
    <span class="text-sm mt-3 text-gray-700 basesycondiciones">
      Si pagaste pero no pudiste enviar los datos, haz clic
      <a href="/registrar-pago" class="font-bold hover:text-green-600">
        aqu칤
      </a>
    </span>

    <!-- Modal para el primer premio -->
    <div id="modalPremio" class="modal">
      <div class="modal-content">
        <div class="modal-body">
          <img
            src={imagenPrimerPremio}
            alt="Auto Premio"
            id="modalImagen"
            class="w-full h-auto cursor-pointer"
          />
          <p class="text-red-600 text-sm mb-2 mt-4">
            游뚿 La imagen es meramente ilustrativa 游뚿
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    document
      .getElementById("introForm")
      .addEventListener("submit", async (event) => {
        event.preventDefault();
        const form = event.target;
        const submitButton = form.querySelector("button[type='submit']");

        // Cambiar el texto del bot칩n y deshabilitarlo
        submitButton.textContent = "Procesando...";
        submitButton.disabled = true;

        const formData = new FormData(form);
        const data = Object.fromEntries(formData.entries());

        if (!data.Nombre || !data.Apellido || !data.Telefono) {
          alert("Por favor, complete todos los campos.");
          submitButton.textContent = "Participar"; // Restaurar texto
          submitButton.disabled = false; // Habilitar bot칩n
          return;
        }

        // Guardar provisionalmente en localStorage
        localStorage.setItem("sorteoData", JSON.stringify(data));
        // Redirigir a instructivo con params
        const params = new URLSearchParams(data).toString();
        window.location.href = `/como-abonar?${params}`;
      });

    // Abrir Modal Premio
    const abrirModal = () => {
      document.getElementById("modalPremio").classList.add("open");
    };
    document
      .getElementById("primerPremio")
      .addEventListener("click", abrirModal);
    document
      .getElementById("primerPremio")
      .addEventListener("touchstart", abrirModal);

    // Cerrar Modal Premio
    const cerrarModal = () => {
      document.getElementById("modalPremio").classList.remove("open");
    };
    document
      .getElementById("modalPremio")
      .addEventListener("click", cerrarModal);
    document
      .getElementById("modalPremio")
      .addEventListener("touchstart", cerrarModal);
  });
</script>
